@font-face {
  font-family: "Molodost";
  src: url(../font/ofont.ru_Molodost.ttf);
}
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: "Molodost";
}

body {
  background-color: white;
}

.header {
  background-color: #fff;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  height: 90px;
  width: auto;
}
.header__icon {
  height: 90px;
  width: auto;
}

.top-header {
  padding: 15px 40px;
}

.right-block {
  display: flex;
  gap: 40px;
}

.video-block {
  display: flex;
  width: 100%;
  padding: 80px 0;
  justify-content: center;
  background: linear-gradient(white, white, black);
}

.video {
  box-sizing: content-box;
  border: 22px solid #78201f;
  border-radius: 20px;
  width: 65vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.video:-webkit-full-screen {
  border: none;
}
.video:fullscreen {
  border: none;
}

.text-block {
  background-color: black;
  color: white;
  padding-bottom: 100px;
}
.text-block__text {
  width: 65vw;
  margin: 0 auto;
}

.footer__left-block {
  margin: 60px auto;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}